  <div class="eqLogic-widget eqLogic allowResize norefresh" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard" >
    <center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display#</a></strong><br /><br />
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#nbVM_id#">Nb VMs :<b> #nbVM# </b> </span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#toBeUpdated_id#">Mise à jour disponible : <b> #toBeUpdated# </b></span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#cpuNumber_id#">Nb CPU :<b> #cpuNumber# </b></span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#corePerCpuNumber_id#">Nb Coeur/CPU :<b> #corePerCpuNumber# </b></span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#ramTotal_id#">Quantité de RAM :<b> #ramTotal# Go </b></span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#osType_id#">OS :<b> #osType# </b></span></div>
		<div><span class="cmd tooltips cmd cmd-widget" data-type="info" data-subtype="numeric" data-cmd_id="#vmList_id#">Liste des VMs :<b> <br /> #vmList# </b><br /><br /></span></div>
	</center>	
</div>
