  <!--<div class="eqLogic-widget eqLogic" style="height: #height#;width: #width#;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >-->
  <div class="eqLogic-widget eqLogic" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="mobile" >
    <center>#name_display#<br /><br />
		<div><span>Nb VMs :<b>#nbVM#  </b><br />
			Mise à jour disponible : <b> #toBeUpdated# </b><br />
			Nb CPU :<b> #cpuNumber# <br />
			Nb Coeur/CPU :<b> #corePerCpuNumber# </b><br />
			Quantité de RAM :<b> #ramTotal# Go </b><br />
			OS :<b> #osType# </b><br />
			Liste des VMs :<b> <br /> #vmList#</b>
		</div>		
	</center>	
</div>
